<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.melosz.melodroid" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/meto_card_test"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- OpenGLES requirements -->
        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

        <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
        <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

        <activity
            android:name=".activities.MyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:parentActivityName=".activities.MyActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dev.melosz.melodroid.activities.MyActivity" />
        </activity>
        <activity
            android:name=".activities.OpenGLES20Activity"
            android:label="@string/title_activity_open_gles20"
            android:parentActivityName=".activities.HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dev.melosz.melodroid.activities.HomeScreenActivity"
                android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"/>
        </activity>
        <activity
            android:name=".activities.MemoryGameActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_memory_game"
            android:parentActivityName=".activities.HomeScreenActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dev.melosz.melodroid.activities.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".activities.UserManagementActivity"
            android:label="@string/title_activity_user_management"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dev.melosz.melodroid.activities.HomeScreenActivity" />
        </activity>
    </application>

</manifest>
